html, body, #page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    -webkit-font-smoothing: antialiased;
}
body {
    background: #fff;
    font-family: 'Helvetica Neue', helvetica;
    line-height: 1.2em;
    color: #8f9298;
    /*min-width: 960px;*/
}
h1, h2, h3, h4, h5, h6 {
    color: #484a50;
    letter-spacing: -1px;
    font-weight: 500;
    font-family: AvenirNextLTPro-Demi, Arial, sans-serif;
}

h1 {
   font-size: 30px;
}

a {
    cursor: pointer;
}
p {
    font-size: 1em;
    line-height: 1.5625;
    margin-bottom: 2em;
}
select {
    color: #fff;
    padding: 0 1em;
    height: 2.4em;
    outline: 0;
    border: 0;
    border-radius: 0!important;
    background: url(../images/arrow-down.png) no-repeat right .8em #7e72c9;
    -webkit-appearance: none;
}
.text-right {
    text-align: right;
}
.intro {

    text-align: center;
}
.fixed {
    position: fixed;
    top: -60px;
}
.smooth, .smooth img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.center-list ul {
    position: relative;
    left: 50%;
    display: block;
    float: left;
    overflow: visible;
}
.center-list ul li {
    position: relative;
    right: 50%;
    float: left;
}
#header {
    overflow: hidden;
    height: auto;
    background: #343543 url('../images/header_bg.png') fixed repeat-x bottom;
    min-height: 100%}
.no-touch #header {
    background-attachment: fixed;
}
.home {
margin-top: 100px;
}
#logo {
    text-align: center;
    margin-top: 100px;
}
#logo img {
    max-width: 180px;
    max-height: 30px;
}
#intro {
    margin-top: 2em;
    text-align: center;
}
#intro h1 {
    margin-bottom: 0;
    color: #fff;
    font-size: 30px;
    opacity: 0;
    padding-top: 2em;
}
#intro h2 {
    margin-bottom: 0;
    font-size: 16px;
    opacity: 0;
    padding-top: 2em;
    color: #8587a1;
}
#intro p {
    color: #fff;
}
#intro .address {
   max-width: 360px;
   margin: 40px 0;
   display: inline;
   height: 60px;
   border-radius: 5px;
   background: #23242e;
   border: 2px solid #23242e !important;
   color: white;
   font-size: 14px;
   letter-spacing: 0px;
   font-family: AvenirNextLTPro-Demi, Arial, sans-serif;
}
#intro .invite {
-webkit-appearance: none;
background: none;
border: 2px solid #9780e4;
color: white;
padding: 20px 25px;
border-radius: 5px;
text-transform: uppercase;
font-weight: 900;
font-size: 12px;
letter-spacing: 1px;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
margin: 0 10px;
}
#intro .invite:hover {
   background: #9780e4;
}
.validation {
   display: inline;
   position: relative;
}
#explore {
    opacity: 0;
    margin-top: 0;
}
#explore a {
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    position: absolute;
    margin-left: -15px;
    left: 50%}
#explore a img {
    height: 30px;
    opacity: .5;
}
.touch #explore a img, .no-touch #explore:hover a img {
    opacity: 1;
}
#top-bar {
    position: fixed;
    top: -75px;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: #363744;
}
#top-navigation ul {
    display: none;
    font-size: 1.5em;
    margin-bottom: .75em;
}
#top-navigation li {
    width: 100%
}
#top-navigation li a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-family: AvenirNextLTPro-Demi, Arial, sans-serif;
}
#top-navigation li:not(active) a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #86889e;
}
#top-navigation li.active a, #top-navigation li:hover a {
    color: white;
}
#logo-lettering img {
    /*height: 3em;*/
    margin-top: 10px;
}
.menu-mobile {
=
    color: red !important;
}

.about {
   text-align: left;
   margin-bottom: 15px;
}
.about p:last-of-type {
   padding-bottom: 30px;
}
.about a {
   padding: 15px 20px;
   border: 2px solid #7e72c9;
   color: #7e72c9;
   border-radius: 5px;
   margin-top: 20px;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 12px;
   font-weight: 900;
   -webkit-transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}
.about a:hover {
   color: white;
   background: #7e72c9;
}
.about-image {

    /* Remove the hex code and add your image here. Remove this comment too! */
    
    background: #f5f5f5 url(../images/put-an-image-here-alex.png);
    height: 450px;
}

.team,
.team h5,
.team p {
    text-align: left !important;
    padding: 0;
    margin: 0;
}
.team {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 25px;
    margin: 20px 0;
}
.team p {
    margin: 20px 0 0;
    font-size: 14px;
}

#call-to-action {
   background: #7e72c9;
}
#call-to-action h2 {
   font-size: 18px;
   color: white;
   text-align: center;
   margin-bottom: 40px;
}
#call-to-action a {
text-align: center;
   padding: 15px 20px;
   border: 2px solid white;
   color: white;
   border-radius: 5px;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 12px;
   font-weight: 900;
   -webkit-transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}
#call-to-action a:hover {
   color: #7e72c9;
   background: white;
}
section {
    padding-top: 3.125em;
    padding-bottom: 1.875em;
    text-align: center;
}
section h1 {
    margin-bottom: 20px;
}
#contacts
.member {
    margin-bottom: 2em;
    min-height: 230px;
}
.member:last-child {
    margin-bottom: 0;
}
.member h5 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.125em;
}
.member p {
    margin-bottom: 0;
    font-size: .75em;
}
.member-photo {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.8em;
    background: #000;
}
.member-photo img {
    display: block;
    margin: 0 auto;
}
.member-hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #7e72c9;
    background-color: rgba(244, 89, 78, 0);
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
.member .list-container {
    position: relative;
    display: table;
    margin: 0 auto;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
ul.social {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
ul.social li {
    display: inline-block;
    margin: 0 .5em;
    margin-left: 0;
}
ul.social li a {
    width: 1.25em;
    height: 1.25em;
    background-position: center center;
    background-size: 1.25em;
    background-repeat: no-repeat;
    color: #fff;
}
ul.social img {
    width: auto;
}
a.facebook {
    background-image: url(../images/social/facebook.svg);
}
.show-for-small a.facebook, .no-touch a.facebook:hover {
    background-image: url(../images/social/facebook-black.svg);
}
a.twitter {
    background-image: url(../images/social/twitter.svg);
}
.show-for-small a.twitter, .no-touch a.twitter:hover {
    background-image: url(../images/social/twitter-black.svg);
}
a.linkedin {
    background-image: url(../images/social/linkedin.svg);
}
.show-for-small a.linkedin, .no-touch a.linkedin:hover {
    background-image: url(../images/social/linkedin-black.svg);
}
a.mail {
    background-image: url(../images/social/mail.svg);
}
.show-for-small a.mail, .no-touch a.mail:hover {
    background-image: url(../images/social/mail-black.svg);
}
.image-hover {
    display: none;
}
.member .list-container.show-for-small {
    opacity: 1;
}
.member .list-container.show-for-small ul.social {
    display: table;
    margin: 0 auto;
    margin-top: 1em;
}
.member-photo:hover .member-hover {
    background-color: rgba(244, 89, 78, .5);
}
.member-photo:hover .list-container {
    opacity: .9;
}
.member-photo:hover .image {
    display: none;
}
.member-photo:hover .image-hover {
    display: inherit;
}
section#studio {
    overflow: hidden;
}
#studio {
    background: whitesmoke;
}
.swiper-slide:not(.swiper-slide-active) img {
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;
    filter:  gray;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.swiper-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-property: -webkit-transform, left, top;
    -moz-transition-property: -moz-transform, left, top;
    -ms-transition-property: -ms-transform, left, top;
    -o-transition-property: -o-transform, left, top;
    transition-property: transform, left, top;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0);
    transform: translate3d(0px, 0, 0);
}
.swiper-slide {
    float: left;
}
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}
.swiper-container, .swiper-slide {
    width: 100%;
    height: 50px;
}
.swiper-container {
    overflow: visible;
    margin: 0 auto;
    max-width: 1000px;
    height: 50px;
}
.service {
    padding: 10px 0;
    color: #999;
    text-align: center;
    cursor: pointer;
}
.service h5 {
    margin-top: 30px;
    margin-bottom: .5em;
    color: #484a50;
    font-size: 1.3125em;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.service p {
    padding: 0 1em;
    font-size: 16px;
    line-height: 27px;
    color: #8f9298;
}
.service img {
    margin-top: 0;
    width: 100%;
    height: auto;
    max-height: 50px;
}
.service:not(active) img {
    opacity: .5;
}
.service:hover img, .service.active img {
    opacity: 1;
}
.skills-bar {
    display: none;
    padding-top: 40px;
    list-style: none;
}
.skills-bar li {
    position: relative;
    margin-bottom: 30px;
    height: 40px;
    background: #333;
}
.skills-bar li:last-child {
    margin-bottom: 0;
}
.skills-bar li em {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-weight: 700;
}
.expand {
    position: absolute;
    left: 0;
    height: 40px;
    background: #7e72c9;
}
.service:hover, .service.active {
    color: #1a1a1a;
}
.service:hover h5, .service.active h5 {
    color: #7e72c9;
}
#works {
    padding-bottom: 3.25em;
    background-color: #f2f2f2;
    overflow-x: hidden;
}
#works .intro {
    margin-bottom: 1.5em;
}
.work {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5em;
    cursor: pointer;
}
.work img {
    position: relative;
    top: 0;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;
    filter:  gray;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
#work-filter {
    margin: 0;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: 1.3125em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#work-filter li {
    cursor: pointer;
}
#work-filter li.active, #work-filter li:hover {
    color: #7e72c9;
}
#works select {
    margin-bottom: 1em;
}
.work-info {
    position: absolute;
    bottom: -2.5em;
    width: 100%;
    height: 2.5em;
    background-color: #fff;
    -webkit-transition: bottom .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out;
    -o-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out;
}
.work-info h6 {
    margin-top: 0;
    padding-top: .5em;
}
#services-list {
   margin-top: 40px;
}
#services-list .columns {
    height: 300px;
    .clearfix;
}
.no-touch .work:hover img, .touch .work img {
    top: -2.5em;
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0,  0 1 0 0 0,  0 0 1 0 0,  0 0 0 1 0\'/></filter></svg>#grayscale");
}
.no-touch .work:hover .work-info, .touch .work .work-info {
    bottom: 0;
}
#work-container .mix {
    display: none;
    opacity: 0;
}
#work-container [class*=column]+[class*=column]:last-child {
    float: left;
}
#feed {
    background-color: #fff;
    text-align: center;
    padding-bottom: 0;
}
#feed .row {
    max-width: none;
}
#feed .intro, #feed .intro h2 {
    margin-bottom: 0;
}
#social-feed {
    margin: 50px 0;
}
#social-feed li {
    cursor: pointer;
}
#social-feed li:first-child {
    margin-left: 0;
}
#feed ul img {
    width: 60px;
}
#feed ul li:not(.active) img {
    opacity: .5;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#feed ul li:hover img {
    opacity: 1;
}
#instagram {
    display: none;
}
#instagram li {
    list-style: none;
}
#flickr .columns, #instagram .columns {
    margin: 0;
    padding: 0;
}
#flickr img, #instagram img {
    position: relative;
    display: block;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;
    filter:  gray;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
#flickr img:hover, #instagram img:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0,  0 1 0 0 0,  0 0 1 0 0,  0 0 0 1 0\'/></filter></svg>#grayscale");
}
.instagram-placeholder, .flickr-photo {
    margin-bottom: 1em;
}
input {
    color: #1a1a1a;
    font-weight: 400;
}
input[type=text] {
    margin-bottom: 15px;
    height: 55px;
    border-radius: 5px !important;
    border: 2px solid #e9eaef !important;
}
textarea {
    height: 120px;
    resize: none;
    border-radius: 5px !important;
    border: 2px solid #e9eaef !important;
}
input[type=text], textarea {
    padding: 1em;
    width: 100%;
    outline: 0;
    border: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    color: #1a1a1a;
}
input[type=text]:focus, textarea:focus {
    border-color: #d8d9dd !important;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}
button.button {
    float: right;
    margin-bottom: 0;
    border: 0;
}
#contacts button {
   color: #7e72c9;
   width: 100%;
   background: none;
   border: 2px solid #7e72c9;
   border-radius: 5px;
   margin-top: 20px;
   padding: 20px 0;
   font-size: 12px;
   letter-spacing: 1px;
   box-shadow: none;
}
#contacts button:hover {
   background: #7e72c9;
   color: white;
}
formContainer {
    position: relative;
}
#submit {
    margin-bottom: 15px;
}
span.error, span.valid {
    position: absolute;
    top: -10px;
    right: 1em;
}
span.error, span.valid {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
span.error {
    background-image: url(../images/notifications/error.svg);
}
span.valid {
    background-image: url(../images/notifications/valid.svg);
}
.alert-box {
    display: none;
    border: 0;
    background-color: #fe3333;
}
.alert-box.success {
    background-color: #22b573;
}
.contact {
    margin-bottom: 1em;
}
.contact-info img {
    padding: 10px 0;
    height: 60px;
}
.contact-info img.mail {

}
.contact-info {
    margin-bottom: 3em;
}
.contact-info p {
    margin-bottom: 0;
    font-size: .8em;
}
.contact-label {
    color: #999;
    font-size: 1.5em;
    font-family: Cabin, sans-serif;
}

#contacts span.error,
#contacts span.valid {
    position: absolute;
    top: 8px;
    right: 1em;
}

.signup span.error,
.signup span.valid  {
    position: absolute;
    top: 10px;
    right: 1em;
}
footer {
    padding-bottom: 3.75em;
    background-color: #fff;
}
footer ul.social {
    margin-top: 1em;
}
footer ul.social li a {
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em;
    opacity: .5;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
footer ul.social li a:hover {
    opacity: 1;
}
footer ul.social a.facebook {
    background-image: url(../images/social/facebook-black.svg);
}
footer ul.social a.twitter {
    background-image: url(../images/social/twitter-black.svg);
}
footer ul.social a.linkedin {
    background-image: url(../images/social/linkedin-black.svg);
}
footer ul.social a.googleplus {
    background-image: url(../images/social/googleplus.svg);
}
footer ul.social a.behance {
    background-image: url(../images/social/behance.svg);
}
footer ul.social a.pinterest {
    background-image: url(../images/social/pinterest.svg);
}
.copyright {
    text-align: center;
    margin: 30px 0 0;
}
#project-page {
    display: none;
}
#project-page .button {
    border: 0;
    box-shadow: inherit;
}
#project-header {
    position: relative;
    overflow: hidden;
    background: #000;
}
#project-top-bar {
    height: 3.25em;
    background: #1a1a1a;
}
#project-top-bar p {
    color: #fff;
}
#next-project {
    background-image: url(../images/works/arrow-right.svg);
}
#previous-project {
    background-image: url(../images/works/arrow-left.svg);
}
#close-project {
    margin: 0 auto;
    background-image: url(../images/works/close-project.svg);
}
#project h2 {
    margin-top: 0;
}
#next-project, #previous-project, #close-project {
    margin-top: .5em;
    width: 2em;
    height: 2em;
    background-size: 2em;
    background-repeat: no-repeat;
    cursor: pointer;
}
#project-header img {
    display: block;
}
#next-project {
    float: right;
}
#close-project {
    text-align: center;
}
#next-project-name, #previous-project-name {
    display: none;
}
#project-details {
    padding: 3em 0;
}
#project-details h5 {
    margin-bottom: 0;
}
#project-details #project-description {
    margin-bottom: 2em;
}
#project-details img {
    margin-bottom: 2em;
}
#project-client {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
}
#project-tags {
    font-size: .9em;
}
.intro {

}
section {
    padding: 100px 0;
}
#logo img {

}
#intro {
    /*margin-top: 6.25em;*/
}
#intro h1 {
    margin-top: 100px;
    font-size: 30px;
}
#intro h2 {
    font-size: 16px;
    margin-top: 20px;
}
#explore {
    margin-bottom: 165px;
}
#top-navigation ul {
    font-size: 1em;
    margin-bottom: inherit;
    float: right;
}
#logo-lettering {
    margin-top: .3em;
}
#top-bar {
    top: -60px;
    height: 3.75em;
}
#top-navigation {
    margin-top: 20px;
}
#top-navigation ul {
    display: inherit;
}
#top-navigation li {
    width: inherit;
}
.member {
    margin-bottom: 0;
    min-height: inherit;
}
.member h5 {
    font-size: 1.3125em;
}
.member p {
    font-size: 1em;
}
.member-photo {
    max-height: inherit;
}
.member ul.social li a {
    width: 2em;
    height: 2em;
    background-size: 2em;
}
.service img {
    margin-top: 0;
    width: auto;
    height: 100px;
}
.instagram-placeholder, .flickr-photo {
    margin-bottom: inherit;
}
#contacts {
    padding-bottom: 0;
}
#project-details {
    padding: 5em 0;
}
#project-details #project-description {
    margin-bottom: 0;
}
#project-sidebar {
    text-align: right;
}
#project-top-bar {
    height: auto;
}
#next-project, #previous-project, #close-project, #next-project-name, #previous-project-name {
    position: fixed;
    z-index: 999;
}
#close-project {
    top: .4125em;
    right: 1.25em;
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em;
}
#next-project {
    top: 18.75em;
    right: 1.25em;
}
#previous-project {
    top: 18.75em;
    left: 1.25em;
}
#next-project-name, #previous-project-name {
    background-color: #7e72c9;
    background-color: rgba(244, 89, 78, .7);
    padding: .5em 1em;
    opacity: 0;
    display: inherit;
    color: #fff;
}
#next-project-name {
    top: 19.1em;
    right: 8em;
}
#previous-project-name {
    top: 19.1em;
    left: 8em;
}
#next-project-name h2, #previous-project-name h2 {
    color: #fff;
    font-size: .8em;
    margin-bottom: 0;
}
#next-project, #previous-project, #close-project {
    opacity: .6;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
#next-project:hover, #previous-project:hover, #close-project:hover {
    opacity: 1;
}
}

.phone {
    display: block;
    margin: 100px auto !important;
    max-width: 100px;
}

#registration {
    background: #363744;
    text-align: center;
    margin-top: 80px;
    position: relative;
}

#registration img {
    margin-bottom: 30px;
}

#registration p {
    color: #8587a1;
    margin-bottom: 50px;
}

.signup {
    max-width: 450px;
    margin: 0 auto;
}

#registration .details {
    position: relative;
   display: inline;
   height: 60px;
   border-radius: 5px;
   background: #23242e;
   border: 2px solid #23242e !important;
   color: white;
   font-size: 14px;
   letter-spacing: 0px;
   font-family: AvenirNextLTPro-Demi, Arial, sans-serif;
}

.submit-signup {
    -webkit-appearance: none;
    background: none;
    border: 2px solid #9780e4;
    color: white;
    padding: 20px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin: 30px 10px;
}
.submit-signup:hover {
   background: #9780e4;
}